<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable(JSON.parse('<%= @chart_data.to_json.html_safe -%>'), true);

      var options = {
        legend: 'none',
        bar: { groupWidth: '40%' }, // Remove space between bars.
        candlestick: {
          fallingColor: { strokeWidth: 0, fill: '#0f9d58' }, // red
          risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
        }
      };

      var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
  <div id="chart_div" style="width: 700px; height: 500px;"></div>