<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="content"> 
			<% if @news_details.present? %>
				<h3><%= @news_details[:title] %></h3>
				<%= image_tag "#{@news_details[:imageurl]}", class: 'imgr borderedbox news-image', width: "300px", height: "200px" %>
				<p><%= @news_details[:body] %></p>
				<p></p>
			<%else%>
				<h3><%= @error %></h3>
			<%end%>
		</div>
  </main>
</div>