table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.news-image{
	width: 300px;
  height: 200px;
}
.exchange-table{
	width: 100%;
  overflow-x: scroll;

  table th{
    width: 100px;
    vertical-align: inherit;
    padding: 10px 55px 10px;
  }

  table td{
    width: 100px;
    vertical-align: inherit;
  }
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}

.dashboard-container{
  width: 90%;
  margin-left: 5%;
  text-align: left;
  .container{
    width: 100%;
  }
}

.orderbook{
  height: 400px;
  table{
    margin: auto;
    margin-left: 0px;
    margin-top: 10px;
    height: 300px;
    tr{
      height: 9px;
      td{
        padding-top: 5px;
      }
    }
  }
}

