table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.news-image{
	width: 300px;
  height: 200px;
}
.exchange-table{
	width: 100%;
  overflow-x: scroll;

  table th{
    width: 100px;
    vertical-align: inherit;
    padding: 10px 55px 10px;
  }

  table td{
    width: 100px;
    vertical-align: inherit;
  }
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}
