<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="fl_left">
      <h1><a href="/">Carinary</a></h1>
    </div>
    <div id="quickinfo" class="fl_right">
      <ul class="nospace inline">
        <li><strong>Maecenas:</strong><br>
          +00 (123) 456 7890</li>
        <li><strong>Condimentum:</strong><br>
          +00 (123) 456 7890</li>
      </ul>
    </div>
  </header>
</div>
<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/">News</a></li>
      <li><a href="/exchanges">Exchange</a></li>
      <li><a href="/charts">Charts</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Signup</a></li>
    </ul>
  </nav>
</div>