<div class="wrapper row2">
  <nav id="mainav" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/charts">Live Charts</a></li>
      <li><a href="/exchanges">Coins</a></li>
      <li><a href="#">Upcoming ICO's</a></li>
    </ul>
  </nav>
</div>